# MacOs
.DS_Store

# JetBrains
#.idea/
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf
.idea/**/statistic.xml
.idea/dictionaries/**
.idea/libraries/**
# Cursive Clojure plugin
.idea/replstate.xml
*.iml

# clojure-lsp
.lsp/.cache

# Calva VS Code Extension
.calva/output-window/output.calva-repl

# clj-kondo
.clj-kondo/.cache

# node
node_modules/

# shadow-cljs
.shadow-cljs/
**/.cpcache
**/cljs-runtime/

# nrepl
.nrepl-port

# project specific
# :output-dir defined in shadow-cljs.edn
../projects/databoard-old/resources/public/i18n/
../projects/databoard-old/resources/public/main/js/

# docs
docs/***/*.html
