{:min-bb-version "1.1.172"

 :deps {}

 :tasks
 {:requires ([babashka.fs :as fs])

  npm-install {:task (when-not (fs/directory? "node_modules")
                       (shell "yarn install"))}
  client:clean {:task (do
                        (fs/delete-tree ".shadow-cljs")
                        (fs/delete-tree "node_modules")
                        (fs/delete-tree "resources/public/main/js"))}

  client:watch {:depends [npm-install]
                :task (shell "npx shadow-cljs watch :main")}

  client:watch-clean {:depends [client:clean client:watch]}

  server:repl {:doc "Launches REPL with additional aliases, e.g. `bb server:repl -M:g/nrepl:g/repl`"
               :requires ([clojure.string :as str]
                          [clojure.tools.cli :refer [parse-opts]])
               :task (let [opts-spec [["-A" "--a-aliases aliases" "Extra CLJ aliases (-A)" :default nil]
                                      ["-M" "--m-aliases aliases" "Extra CLJ aliases (-M)" :default nil]]
                           opts (parse-opts *command-line-args* opts-spec)
                           {{:keys [a-aliases m-aliases]} :options :keys [arguments]} opts
                           alias-type (if (some? m-aliases) "M" "A")
                           aliases (str (or a-aliases "") (or m-aliases ""))
                           args (some->> arguments (str/join " "))
                           cmd (format "clj -%s:dev%s -J-Dtrace -J-Dguardrails.enabled=true %s" alias-type aliases args)]
                       (println cmd)
                       (shell cmd))}

  deps (clojure "-M:antq")
  deps-upgrade (clojure "-M:antq --upgrade")}}
