{:paths ["src/main" "resources"]
 :deps {com.cognitect/transit-clj {:mvn/version "1.0.329"}
        com.fulcrologic/fulcro {:mvn/version "3.6.1"}
        com.fulcrologic/fulcro-i18n {:mvn/version "1.0.0"}
        com.ibm.icu/icu4j {:mvn/version "72.1"}             ;; needed for i18n in server-side rendering
        com.taoensso/timbre {:mvn/version "6.1.0"}
        com.wsscode/pathom3 {:mvn/version "2023.01.31-alpha"}
        http-kit/http-kit {:mvn/version "2.6.0"}
        metosin/malli {:mvn/version "0.10.4"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        metosin/reitit {:mvn/version "0.6.0"}
        mount/mount {:mvn/version "0.1.17"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        ring/ring-core {:mvn/version "1.9.6"}}

 :aliases
 {:dev
  {:extra-paths ["src/dev"]
   :extra-deps {binaryage/devtools {:mvn/version "1.0.6"}
                org.clojure/clojurescript {:mvn/version "1.11.60"}
                org.clojure/tools.deps.alpha {;; it is to load libraries dynamically
                                              ;; https://github.com/clojure/tools.deps.alpha/tree/add-lib3
                                              :git/url "https://github.com/clojure/tools.deps.alpha"
                                              :sha "8f8fc2571e721301b6d52e191129248355cb8c5a"}
                org.clojure/tools.namespace {:mvn/version "1.4.4"}
                org.slf4j/slf4j-nop {;; to fix "SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder""
                                     ;; load/refresh of `utils.deps` ns causes pop up of this error
                                     ;; it is because that ns uses `clojure.tools.deps.alpha.repl` (org.clojure/tools.deps.alpha)
                                     :mvn/version "2.0.7"}
                thheller/shadow-cljs {:mvn/version "2.22.7"}}}

  :antq
  {:replace-paths []
   :replace-deps {com.github.liquidz/antq {:mvn/version "2.2.1017"}
                  org.slf4j/slf4j-nop {:mvn/version "2.0.7"}}
   :main-opts ["-m" "antq.core"]}

  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}
   :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color"]}

  :shadow-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.22.7"}
                org.slf4j/slf4j-nop {:mvn/version "2.0.7"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
